<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Around the World | About</title>
<meta charset="utf-8">
<link rel="stylesheet" href='{% static "css/reset.css"%}' type="text/css" media="all">
<link rel="stylesheet" href='{% static "css/layout.css"%}' type="text/css" media="all">
<link rel="stylesheet" href='{% static "css/style.css"%}' type="text/css" media="all">
<script type="text/javascript" src='{% static "js/jquery-1.4.2.js"%}' ></script>
<script type="text/javascript" src='{% static "js/cufon-yui.js"%}'></script>
<script type="text/javascript" src='{% static "js/cufon-replace.js"%}'></script>
<script type="text/javascript" src='{% static "js/Myriad_Pro_600.font.js"%}'></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="index.html" id="logo">Around the World</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
            <nav>
              <ul id="top_nav">
                <li><a href="register">Register</a></li>
                <li><a href="login">Log In</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <nav>
        <ul id="menu">
          <li><a href="home.html" class="nav1">Home</a></li>
          <li><a href="about.html" class="nav2">About Us </a></li>
          <li><a href="tours.html" class="nav3">Our Tours</a></li>
          <li><a href="destinations.html" class="nav4">Destinations</a></li>
          <li class="end"><a href="contacts.html" class="nav5">Contacts</a></li>
        </ul>
      </nav>
      <div class="text"> <img src='{% static "images/text1.jpg"%}' alt="">
        <h2>The Best Offers</h2>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born, a complete account of the system, and expound the actual teachings of the great explorer of the truth and will unfold in the master-builder of human happiness. None of the pleasure for pleasure.</p>
        <a href="#" class="button">Read More</a> </div>
      <div class="img"><img src='{% static "images/img2.jpg"%}' alt=""></div>
    </header>
    <section id="content">
      <article class="col1">
        <h3>Hot Travel</h3>
        <div class="pad">
          <div class="wrapper under">
            <figure class="left marg_right1"><img src='{% static "images/page1_img1.jpg"%}' alt=""></figure>
            <p class="pad_bot2"><strong>Italy<br>
              Holidays</strong></p>
            <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
            <a href="#" class="marker_1"></a> </div>
          <div class="wrapper under">
            <figure class="left marg_right1"><img src='{% static "images/page1_img2.jpg"%}' alt=""></figure>
            <p class="pad_bot2"><strong>Philippines<br>
              Travel</strong></p>
            <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
            <a href="#" class="marker_1"></a> </div>
          <div class="wrapper">
            <figure class="left marg_right1"><img src='{% static "images/page1_img3.jpg"%}' alt=""></figure>
            <p class="pad_bot2"><strong>Cruise<br>
              Holidays</strong></p>
            <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
            <a href="#" class="marker_1"></a> </div>
        </div>
      </article>
      <article class="col2 pad_left1">
        <h2>About Us</h2>
        <div class="wrapper">
          <figure class="left marg_right1"><img src='{% static "images/page2_img1.jpg"%}' alt=""></figure>
          <p><strong>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was, a complete account of the system, and expound the actual teachings of the great explorer of the truth, and the master-builder of human happiness will unfold in because it is pleasure rejects, dislikes, or avoids, but because they belong to the great sorrows of them who by reason of know how to pursue pleasure. And no man who is not, who is alone, that it dolorehjum ipsum dolor sit amet, consectetur adipiscing we deem worthy of, who, however, hated by them, and they are accusing the blandishments of the present and at the proper.</p>
          <p><strong>Welcome the pains and troubles</strong>which the pleasures are blinded are deleniti a desire for, and do not act corruptly provide in whom, and in the same chapter be at fault. And this is the facilisest and easy distinction. In fact, when they are no hindrance to the free time of its it were not so they are independent in the choice of that which is for us the most important for the choice of what we like every pleasure is.</p>
        </div>
        <div class="wrapper line1 marg_bot1">
          <ul class="list1 cols">
            <li><a href="#">But, in truth and he is just hatred of them, and they are accusing</a></li>
            <li><a href="#">He deemed worthy of this flattery</a></li>
            <li><a href="#">Corrupted by these pains, the pleasures accusantium</a></li>
            <li><a href="#"></a></li>
          </ul>
          <ul class="list1 cols pad_left1">
            <li><a href="#">But, in truth and he is just hatred of them, and they are accusing</a></li>
            <li><a href="#">He deemed worthy of this flattery</a></li>
            <li><a href="#">Corrupted by these pains, the pleasures accusantium</a></li>
            <li><a href="#">These troubles are blind are welcome</a></li>
          </ul>
        </div>
        For your free time, and they are independent to us the most important is that which is well pleasing in his option of choosing when they are enabled to do nothing to stop it were not so, every pleasure is. And no man who is not, who is alone, that it dolorehjum ipsum dolor sit amet, consectetur adipiscing we deem worthy of, who, however, hated by them, and they are accusing the blandishments of the just and of current events.. </article>
    </section>
  </div>
  <div class="block"></div>
</div>
<div class="body1">
  <div class="main">
    <footer>
      <div class="footerlink">
        <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
        <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
        <div style="clear:both;"></div>
      </div>
    </footer>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>