<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Around the World</title>
<meta charset="utf-8">
<link rel="stylesheet" href='{% static "css/reset.css"%}' type="text/css" media="all">
<link rel="stylesheet" href='{% static "css/layout.css"%}' type="text/css" media="all">
<link rel="stylesheet" href='{%static "css/style.css"%}' type="text/css" media="all">
<script type="text/javascript" src='{% static "js/jquery-1.4.2.js"%}' ></script>
<script type="text/javascript" src='{% static "js/cufon-yui.js"%}'></script>
<script type="text/javascript" src='{% static "js/cufon-replace.js"%}'></script>
<script type="text/javascript" src='{% static "js/Myriad_Pro_600.font.js"%}'></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="../../../.idea/index.html" id="logo">Around the World</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg1">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
            <nav>
              <ul id="top_nav">
                <li><a href="register">Register</a></li>
                <li><a href="login">Log In</a></li>
                <li><a href="logout">Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <nav>
        <ul id="menu">
          <li><a href="home" class="nav1">Home</a></li>
          <li><a href="display" class="nav2">About Us </a></li>
          <li><a href="tour" class="nav3">Season</a></li>
          <li><a href="destination" class="nav4">Destinations</a></li>
          <li class="end"><a href="contacts" class="nav5">Contacts</a></li>
        </ul>
      </nav>
{% block content %}
{% endblock %}

    </header>
  </div>
</div>

<div class="body1">
  <div class="main">
    <footer>
      <div class="footerlink">
        <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
        <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
        <div style="clear:both;"></div>
      </div>
    </footer>
  </div>
</div>
</body>
</html>
