<!DOCTYPE html>
{% extends "myapp/com.html" %}
{% load static %}

      {% block content %}
      <div class="text"> <img src='{% static "images/India-North-Spots-Featured-Image-3x2-1200x628.jpg"%}' alt="">
        <h2>The Best Offers</h2>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born, a complete account of the system, and expound the actual teachings of the great explorer of the truth and will unfold in the master-builder of human happiness. None of the pleasure for pleasure.</p>
        <a href="#" class="button">Read More</a> </div>

    </header>
    <section id="content">
      <article class="col1">
        <h3>Hot Travel</h3>
        <div class="pad">
          <div class="wrapper under">
            <figure class="left marg_right1"><img src='{% static "images/AMRITSAR.jpg"%}' alt=""></figure>
            <p class="pad_bot2"><strong>AMRITSAR<br>
              Holidays</strong></p>
            <p class="pad_bot2">Amritsar, city, northern Punjab state, northwestern India. It lies about 15 miles (25 km) east of the border with Pakistan. Amritsar is the largest and most important city in Punjab and is a major commercial, cultural, and transportation centre. It is also the centre of Sikhism and the site of the Sikhs’ principal place of worship—the Harmandir Sahib, or Golden Temple.
</p>
            <a href="amritsar" class="marker_1"></a> </div>
          <div class="wrapper under">
            <figure class="left marg_right1"><img src='{% static "images/AGRA.jpg"%}' alt=""></figure>
            <p class="pad_bot2"><strong>AGRA<br>
              Holidays</strong></p>
            <p class="pad_bot2">Wish to realize a dream vacation? Welcome to the amazing tourism city of the TajMahal - Agra, India. The seat of the great Mughal rulers for ages Agra, India offers its treasure trove for all the tourists from India and abroad. Even though Agra, India is synonymous with the Taj, the city stands in testimony to the great amount of architectural activity of the Mughals. TajMahal is the epitome of love, poem in white marble, one of the Seven Wonders of the World besides being the pride of India. In fact all the monuments of Agra, India have contributed to Agra Tourism. Terrific Agra Packages from us will ensure you plan your Agra Travel soon. Delhi to Agra to Jaipur make the famous Golden Triangle tour of India.</p>
            <a href="#" class="marker_1"></a> </div>
          <div class="wrapper">
            <figure class="left marg_right1"><img src='{% static "images/img_9505.jpg"%}' alt="" width="150" HEIGHT="150"></figure>
            <p class="pad_bot2"><strong>SRINAGAR<br>
              Holidays</strong></p>
            <p class="pad_bot2">Visit Srinagar, the summer capital of Kashmir, and you will surely fall in love with the charming and seductive nature. Srinagar, literally meaning "the city of wealth and abundance" in Sanskrit, boasts of a perfect location in the lap of the majestic snow peaked Himalayas. Srinagar’s magical beauty, breathtaking landscapes, crystal clear waters, the village of shepherds, the world famous Dal lake etc. are the assets that attract people from the world around. The place offers a wonderful vacation  far away from the noise and pollution of urban areas.</p>
            <a href="#" class="marker_1"></a> </div>
        </div>
      </article>
      <article class="col2 pad_left1">
        <h2>Our Tours</h2>
        <div class="wrapper">
          <article class="col3">
            <div class="wrapper">
              <figure class="left marg_right1"><img src='{% static "images/page3_img1.jpg"%}' alt=""></figure>
              <p><strong>The error of the pleasure</strong> of accutium Voluptates of praise, a complete account of the system, and expound the actual teachings of the great explorer of the truth and will unfold in the master-builder of human happiness are the rejects, dislikes, or avoids because it is pleasure.</p>
              <p>But because those who do not know how to pursue pleasure. And no man who is not, who is alone, that it dolorehjum ipsum dolor sit amet, consectetur adipiscing we deem worthy of, who, however, hated by them, and they are accusing the blandishments of the just and of current events.</p>
              <p><strong>Welcome the pains and troubles</strong> which the pleasures are blinded are deleniti a desire for, and do not act corruptly provide in whom, and in the same chapter be at fault. And this is the facilisest and easy distinction. In fact, when they are no hindrance to the free time of its it were not so they are independent in the choice of that which is for us the most important for the choice of what we like every pleasure is.</p>
              But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born, a complete account of the system, and expound the actual teachings of the great explorer of the truth and will unfold in the master-builder of human happiness. None of the pleasure because it is pain. </div>
          </article>
          <article class="cols pad_left1">
            <ul class="list1">
              <li><a href="#">But, in truth and accuse them, and they</a></li>
              <li><a href="#">Augusto deemed worthy of hatred </a></li>
              <li><a href="#">Blanditiis praesentium volupta</a></li>
              <li><a href="#">Tum deleniti atque corrupti</a></li>
              <li><a href="#">Quos dolores et quas molestias</a></li>
              <li><a href="#">Excepturi sint occaecati</a></li>
              <li><a href="#">Cupiditate non provident, simil</a></li>
              <li><a href="#">Ique sunt in culpa qui officia</a></li>
              <li><a href="#">Deserunt mollitia animi, id est</a></li>
              <li><a href="#">Laborum et dolorum fuga</a></li>
              <li><a href="#">Et harum quidem rerum facilis </a></li>
              <li><a href="#">Est et expedita distinctio</a></li>
              <li><a href="#">Nam libero tempore, cum soluta</a></li>
              <li><a href="#">Nobis est eligendi optio</a></li>
              <li><a href="#">Cumque nihil impedit quo</a></li>
              <li><a href="#">Minus id quod maxime placeat</a></li>
              <li><a href="#">Facere possimus, omnis</a></li>
              <li><a href="#">Voluptas assumenda est</a></li>
              <li><a href="#">Omnis dolor repellendus emp</a></li>
              <li><a href="#">Pribus autem quibusdam</a></li>
            </ul>
          </article>
        </div>
      </article>
    </section>
  </div>
  <div class="block"></div>
</div>

<script type="text/javascript"> Cufon.now(); </script>
{% endblock %}